/*Global styles
-----------------------------------------------------------------*/
body {
    color:#eec643;
}

/*Profile
------------------------------------------------------------------*/
header {
    background: #457eac;
}
/*Work Experience
------------------------------------------------------------------*/
.work-experience {
    background:#eef0f2;
    color:#457eac
}
.bold {
    font-weight: bold;
}