/*Global styles
-----------------------------------------------------------------*/
body {
    color:#343434;
}

/*Profile
------------------------------------------------------------------*/
header {
    background: #2F3061;
}
/*Work Experience
------------------------------------------------------------------*/
.work-experience {
    background:#8ba7e6;
}
.bold {
    font-weight: bold;
}